<%- include('partials/header') %>
    <!-- Contenu de la page -->
    <main class="myself">
        <!-- Image de présentation -->
        <img class="gameicon" src="<%= game[0].icon_url %>" alt="Icône de <%= game[0].name %>" />
        <!-- Paragraphe à droite de l'image -->
        <h1 class="espace gametitle"><%= game[0].name %></h1>
        <p><%= game[0].description %></p>

        <section>
            <a href="<%= game[0].play_url %>" class="playbutton">Jouer sur navigateur</a>
            <a href="<%= game[0].download_url %>" class="downloadbutton">Télécharger</a>
            <a href="<%= game[0].git_url %>" class="downloadbutton">Code Source</a>
        </section>

        <section class="centered">
            <div class="screenshots">
                <img class="scr" src="<%= game[0].screenshot1_url %>">
                <img class="scr" src="<%= game[0].screenshot2_url %>">
                <img class="scr" src="<%= game[0].screenshot3_url %>">
            </div>
        </section>

        <div class="scrolling-image-container">
            <div class="scrolling-image"></div>
        </div>
        
    </main>
<%- include('partials/footer') %>