<%- include('partials/header') %>
    <!-- Contenu de la page -->
    <main>
        <!-- Paragraphe de présentation -->
        <h1 class="espace">Mes projets</h1>
        <p>Voici les projets sur lesquels je travaille ou j'ai travaillé.</p>
    
    <section class="centered">
        <!-- Grille des projets -->
        <div class="container">
            <% for(let i = 0; i < list.length; i++) { %>
                <a class="nodecoration" href="<%= list[i].git_url %>" target="_blank">
                    <div class="project">
                        <img class="projectimg" src="<%= list[i].image %>" alt="Capture d'écran de <%= list[i].name %>" />
                        <p class="projectname"><%= list[i].name %></p>
                    </div>
                </a>
            <% } %>
        </div>
    </section>

    <div class="scrolling-image-container">
        <div class="scrolling-image"></div>
    </div>
    
    </main>
<%- include('partials/footer') %>